<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/default">

<div layout:fragment="content">

    <div id="home-layout">
        <div class="layout-search">
            <Auto-Complete
                    v-model="searchAppName"
                    :data="suggestAppNames"
                    icon="ios-search"
                    @on-search="searchSuggest"
                    @on-change="searchChange"
                    @on-select="searchSelect"
                    placeholder="appName、负责人、为空查询全部"
                    size="large"
                    clearable="true"
                    style="width:600px">
            </Auto-Complete>
        </div>

        <div class="layout-tabs">
            <Tabs value="ownerApps" :animated="false" @on-click="tabOnClick">
                <tab-pane label="负责的服务" name="ownerApps">
                    <!-- page content -->
                    <i-table :columns="ownerServicesColumns" :data="ownerServicesData" stripe="true">
                    </i-table>
                </tab-pane>

                <tab-pane label="关注的服务" name="followerServices">
                </tab-pane>

                <tab-pane label="业务线服务" name="businessLineServices">
                </tab-pane>

                <tab-pane label="事业群服务" name="businessGroupServices">
                </tab-pane>

                <tab-pane label="全部服务" name="allServices">
                    <!-- page content -->
                    <div layout:fragment="allServicesContent"></div>
                </tab-pane>
            </Tabs>
        </div>

        <div class="layout-page">
            <Page :current="pageNum" :total="total" show-total></Page>
        </div>

    </div>


    <script>
        header.navName = 'ownerAppsNav';
        var homeLayoutVue = new Vue({
            el: '#home-layout',
            data: {
                // 查询
                searchAppName: '',
                suggestAppNames: [],
                // tabs
                tabValue: 'ownerApps',

                // tab: ownerTab
                ownerServicesColumns: [
                    {
                        title: 'appName',
                        key: 'appName',
                        render: function (h, params) {
                            return h('div', [
                                h('a', {
                                    domProps: {
                                        href: '/service/' + params.row.appName + '/providers'
                                    }
                                }, params.row.appName),
                            ]);
                        }
                    },
                    {
                        title: '所属业务', key: 'businessLineName'
                    },
                    {
                        title: '负责人', key: 'ownerNames'
                    },
                    {
                        title: '描述信息', key: 'desc'
                    },
                    {
                        title: '操作',
                        key: 'operating',
                        render: function (h, params) {
                            return h('div', [
                                h('i-button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    on: {
                                        click: function () {
                                            homeLayoutVue.show(params.index)
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginLeft: '5px'
                                    },
                                    on: {
                                        click: function () {
                                            homeLayoutVue.remove(params.index)
                                        }
                                    }
                                }, '详情'),
                            ]);
                        }

                    }],
                ownerServicesData: [],

                pageNum: 1,
                total: 0,

            },
            created: function () {
                console.log("homeLayoutVue created.....");
//                homeLayoutVue.searchSelect('');
            },
            mounted: function () {
                console.log("homeLayoutVue mounted.....");
                this.$nextTick(function () {
                    console.log("homeLayoutVue mounted $nextTick.....");
                    homeLayoutVue.searchSelect('');
                });

            },
            methods: {
                // 查询
                searchSuggest: _.debounce(
                    function (searchAppName) {
                        const $this = this;
                        axios.get('/api/suggest/app', {
                            param: {
                                appName: searchAppName,
                            },
                            timeout: 5000
                        }).then(function (response) {
                            console.log(response);
                            const ownerAppsData = response.data;
                            if (!ownerAppsData.succ) {
                                $this.$Message.warning(ownerAppsData.msg);
                            } else {
                                const ownerApps = ownerAppsData.data;
                                // 渲染
                                for (let i = 0; i < ownerApps.length; i++) {
                                    $this.suggestAppNames[i] = ownerApps[i].name;
                                }

                            }

                        }).catch(function (error) {
                            console.error(error);
                            $this.$Message.warning('查询未知异常.');
                        });

                    },
                    // 这是我们为用户停止输入等待的毫秒数
                    150
                ),
                searchChange: function () {
                    console.log("change");
                },
                searchSelect: function (appName) {
                    const $this = this;
                    axios.get('/api/' + 'af' + '/ownerServices', {
                        timeout: 5000
                    }).then(function (response) {
                        const apiResult = response.data;
                        if (!apiResult.succ) {
                            $this.$Message.warning(apiResult.msg);
                        } else {
                            const pagination = apiResult.data;
                            // 渲染
                            // table
                            const ownerServices = pagination.data;
                            $this.ownerServicesData.length = 0;
                            for (let i = 0; i < ownerServices.length; i++) {
                                let ownerService = ownerServices[i];
                                $this.ownerServicesData.push({
                                    appName: ownerService.name,
                                    businessLineName: ownerService.businessLineName,
                                    ownerNames: ownerService.ownerNames,
                                    desc: ownerService.desc
                                });
//                                ownerAppsData.render();
                            }
                            // page
                            $this.pageNum = pagination.pageNum;
                            $this.total = pagination.total;

                        }

                    }).catch(function (error) {
                        console.error(error);
                        $this.$Message.warning('查询未知异常.');
                    });
                },
                // tabs
                tabOnClick: function (tabValue) {
                    switch (tabValue) {
                        case 'ownerServices':
                            location.href = "/afafa";
                            break;
                        case 'followerServices':
                            location.href = "/afafa/followers";
                            break;
                        case 'businessLineServices':
                            location.href = "/afafa/businessLine";
                            break;
                        case 'businessGroupServices':
                            location.href = "/afafa/businessGroup";
                            break;
                        case 'allServices':
                            location.href = "/afafa/all";
                            break;
                        default:
                            location.href = "/afafa";
                            break;
                    }
                },
                // tab : ownerTab
                show: function (index) {
                    console.log("show : " + index);
                    this.$Modal.info({
                        title: '用户信息',
                        content: `姓名：${this.ownerAppsData[index].appName}<br>年龄：${this.ownerAppsData[index].owner}<br>地址：${this.ownerAppsData[index].desc}`
                    });
                },
                remove: function (index) {
                    console.log("remove : " + index);
                    this.ownerAppsData.splice(index, 1);
                },

            }
        });
    </script>

</div>

</html>